a:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

.bg-color {
  background-color: "rgb(253, 253, 253)";
}

.common-style {
  @apply px-6 md:px-10 lg:px-16;
}
.common-style-2 {
  @apply max-w-screen-2xl mx-auto;
}
.heading-1 {
  @apply text-xl font-semibold text-gray-700;
}

.h-big,
.h-small {
  height: 300px;
}

@media only screen and (min-width: 768px) {
  .h-big {
    height: 404px;
  }
  .h-small {
    height: 200px;
  }
}
